; Java class name for vibration plugin
[plugin]

name="Godot Android Vibration"
description="Haptic feedback and vibration for Android devices"
author="TradingGame"
version="1.0.0"
script="res://addons/vibration_plugin/plugin.gd"
